<div class="right-top">
  <div class="r-top-name">
    <%= @room.name %>
  </div>
  <div class="r-top-btn">
    <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>

<div class="right-main">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "right-bottom"}, local: true do |f|%>
  <div class="input-form">
    <%= f.text_field :content, class: 'message-form', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'submit-btn' %>
<% end %>
